@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");

/* rightContainer{
    /* height: 100%;
    width: 45%;
    /* border: 1px solid red; 
  

  .rightContainer video{
    padding: 30px 0;
    width: 670px;
    height: 540px;
    object-fit: cover;
    object-position: center;
    border-radius: 5%;
  }  */
